body:after {
  content: "CSS WORKS";
  position: fixed;
  top: 40%; right: 0; left: 0;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .3);
  pointer-events: none;
}
